:root {
  --opacidad-negro: 0.4;
}

/* Hero */
.hero {
  width: 100%;
  /* position: absolute; */
  /* height: 384px; */
  height: calc(100vh - var(--nav-height-mobile));

  background-image: linear-gradient(
      rgba(0, 0, 0, var(--opacidad-negro)),
      rgba(0, 0, 0, var(--opacidad-negro))
    ),
    url(./front/img/funkos-banner.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  /* align-items: center; */
  font-weight: var(--normal);
}

.hero__content {
  margin-left: 10%;
  margin-top: 15rem;
  color: var(--light-bg-solid);
}

.hero__title {
  font-weight: var(--bold);
  font-size: var(--font-jumbo);
}

.hero__text {
  font-size: var(--font-medium);
  margin-top: var(--spacing-8);
}

.hero__button {
  height: 4.7rem;
  line-height: 4.7rem;
  max-width: 13.18em;
  background-color: var(--light-bg-solid);
  color: var(--dark-solid);
}

.hero__button:hover {
  background-color: var(--dark-bg-solid);
  color: var(--light-bg-solid);
}

@media (min-width: 768px) {
  .hero {
    height: calc(100vh - var(--nav-height-desktop));
  }
}
