/* btn-filter */
.btn__filter {
  background-color: var(--dark-bg-solid);
  position: fixed;
  z-index: 1;
  top: 80px;
  display: inline-block;
  width: 6rem;
  height: 6rem;
  margin-top: 1rem;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.btn__filter img {
  width: 3rem;
  margin: 1.5rem;
  filter: invert();
  cursor: pointer;
}

.btn-filter__input {
  display: none;
}

.btn-filter__close {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 15px;
  right: 25px;
  filter: invert();
  cursor: pointer;
}

.btn-filter__input:checked ~ .utilities {
  transform: translateX(0rem);
}

/* Utilities */
.utilities {
  width: 24rem;
  font-family: var(--base-font);
  position: fixed;
  transform: translateX(-24rem);
  transition: transform 0.3s ease;
  display: flex;
  z-index: 1;
}

.form {
  background-color: var(--dark-bg-solid);
  color: var(--light-bg-solid);
  border-end-end-radius: 8px;
  padding: var(--spacing-8);
  box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2);
}

.form__title {
  font-weight: var(--medium);
  font-size: var(--font-large);
  margin: 0.5em 0;
}

/* Inputs tipo text,number,email,password */
.input__container {
  position: relative;
  height: 2.8em;
  width: 90%;
  margin-bottom: 1.1em;
}

.input-price__container {
  height: 2.8em;
  width: 90%;
  display: flex;
  gap: 5px;
}

.input__container input {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  border: 1px solid var(--gray0);
  color: var(--light-bg-solid);
  border-radius: 7px;
  font-size: 1em;
  padding: 0 1.25em;
  outline: none;
  background: none;
  /* z-index: 1; */
}

::placeholder {
  color: transparent;
}

.input__container input:focus + label {
  top: -5px;
  left: 3px;
  /* z-index: 10; */
  font-size: 0.9em;
  font-weight: var(--bold);
  color: var(--gray0);
}

.input__container input:not(:placeholder-shown) + label {
  top: -5px;
  left: 3px;
  /* z-index: 10; */
  font-size: 0.9em;
  font-weight: var(--bold);
}

.input__container input:focus {
  border: 2px solid var(--gray0);
}

.input__container label {
  position: absolute;
  top: 5px;
  left: 5px;
  padding: 0 4px;
  background-color: var(--dark-bg-solid);
  color: var(--gray0);
  font-size: 1.6em;
  transition: 0.2s;
  /* z-index: 0; */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Inputs radio buttons y checkbox */
.form input[type="radio"],
.form input[type="checkbox"] {
  display: none;
}

.form .radiobutton__container label,
.form .checkbox__container label {
  color: var(--gray0);
  padding: 8px 15px 5px 47px;
  display: inline-block;
  position: relative;
  font-size: 1.4em;
  margin-bottom: 4px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.form .radiobutton__container label:before,
.form .checkbox__container label:before {
  content: "";
  width: 17px;
  height: 17px;
  display: inline-block;
  background-color: none;
  border: 3px solid var(--gray0);
  border-radius: 100%;
  position: absolute;
  left: 15px;
  top: 4px;
}

.form .checkbox__container label:before {
  border-radius: 3px;
}

.form input[type="radio"]:checked + label,
.form input[type="checkbox"]:checked + label {
  padding: 5px 15px;
  background-color: var(--gray0);
  border-radius: 2px;
  color: var(--light-bg-solid);
}

.form input[type="radio"]:checked + label:before,
.form input[type="checkbox"]:checked + label:before {
  display: none;
}

/* Styling button submit */

.form__submit {
  display: block;
  margin-left: auto;
  padding: 15px 30px;
  border: none;
  background-color: var(--gray0);
  color: var(--white);
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  margin-top: 1.9em;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.form__submit:hover {
  background-color: var(--gray1);
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .btn__filter {
    top: 160px;
  }
}
