/* Latest-releases */

.latest-releases {
  max-width: 76.25em;
  width: 90%;
  margin: 0 auto;
}

.latest-releases__items {
  margin-top: 3.75em;
  padding: 10px 0;
  display: flex;
  /* flex-wrap: wrap; */
  /* gap: 0.31em; */
  /* justify-content: space-between; */
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 20px;
}

.latest-releases__title {
  font-weight: var(--font-bold);
  font-size: 2.875em;
}
