.main {
  width: 100%;
  font-size: 0.6rem;
}

.collections {
  width: 90%;
  margin: var(--spacing-12) auto 0;
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-12);
}

.card-collection {
  width: 100%;
  padding: var(--spacing-8);
  display: flex;
  flex-direction: column-reverse;
  background-color: var(--light-bg-solid);
  font-family: var(--alternative-font);
  border-radius: 2em;
}

.card-collection__content {
  width: 90%;
  margin: 0 auto;
  margin-top: var(--spacing-12);
  margin-bottom: var(--spacing-8);
}

.card-collection__title {
  font-weight: var(--medium);
  font-size: var(--font-display);
}

.card-collection__description {
  font-weight: var(--regular);
  font-size: var(--font-large);
}

.card-collection__line {
  margin: var(--spacing-12) 0;
}

.card-collection__button {
  background-color: var(--dark-bg-solid);
  color: var(--light-bg-solid);
  font-size: var(--font-large);
  margin: 0 auto;
  transition: letter-spacing 0.2s;
}

.card-collection__button:hover {
  background-color: var(--dark-500);
  color: var(--dark-bg-solid);
  font-weight: var(--bold);
  letter-spacing: 3px;
}

.card-collection__image {
  width: 80%;
  max-width: 60rem;
  margin: 0 auto;
}

.card-collection__image img {
  width: 100%;
}

@media (min-width: 768px) {
  .main {
    font-size: 1rem;
  }
  .card-collection {
    flex-direction: row;
    align-items: center;
  }

  .card-collection:nth-child(even) {
    flex-direction: row-reverse;
  }

  .card-collection__button {
    margin: 0;
  }
}
