/* Latest-releases */

.latest-releases {
  font-family: var(--base-font);
  max-width: var(--mw);
  width: 90%;
  margin: var(--spacing-12) auto 0;
  margin-bottom: var(--spacing-36);
}

.latest-releases__title {
  font-weight: var(--bold);
  font-size: var(--font-large);
  text-align: center;
}

.latest-releases__items {
  padding: 10px 0;
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

@media (min-width: 768px) {
  .latest-releases {
    max-width: var(--mw-1200);
  }

  .latest-releases__title {
    font-size: var(--font-display);
    text-align: start;
    margin-bottom: var(--spacing-12);
  }
}
